*{
    box-sizing: border-box;
}

.light{
    background-color: rgb(241, 179, 247);
    min-height: 100vh;
}
.dark{
    background-color: rgb(75, 90, 131);
    min-height: 100vh;
}

select{
    outline: none;
    background-color: #fff;
    margin-top: 15px;
    width: 100px;
    height: 40px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 15px;
    transition: all 0.5s ease;
}
select:hover{
    background-color: rgb(84, 221, 221);
    /* color: #fff; */
    border: solid 2px #fff;
    width: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
option{
    display: block;
    height: 30px;
}
ul{
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

li{
    margin: 10px 3px 10px 3px;
    width: 250px;
    height: 350px;
    box-shadow: inset 0 0 5px 5px rgb(129, 124, 124);
    padding: 10px;
    background-color: #fff;
}

address{
    margin-top: 5px;
}
a{
    margin-top: 3px;
    display: block;
}